body {
    background-color:azure;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color:#008345;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

.recipe-card .recipe-image img{
    width: 100%;
    object-fit:fill;
}